.container {
	background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.7), rgba(251, 251, 253, 0.9)),
		url('../images/bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.title {
	font-family: 'Permanent Marker', cursive;
}

.outline {
	outline: none;
}

.arrow {
	font-size: 1.5rem !important;
}

.wrap {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.select {
	width: 90px;
}

.border {
	border: 1px solid gray !important;
}
.border-bottom {
	border-bottom: 1px solid gray !important;
}

.list-group {
	overflow-x: scroll;
	width: 80%;
  scrollbar-width: none
}

.list-group-item {
	min-width: 150px;
	position: relative;
	display: inline-block;
}

.list-group::-webkit-scrollbar {
  display: none;
}

.fa-times-circle {
	position: absolute;
	top: 34%;
	right: 5%;
}

.fa-chevron-circle-left {
	color: grey;
}

.fa-plus-square:hover {
	color: grey;
}

.color-dot {
	width: 5px;
	height: 5px;
	border-radius: 50%;
	justify-content: center;
	top: 0;
	left: 0;
}